Source: pipelight-multi
Maintainer: Michael Mueller <michael@fds-team.de>
Section: misc
Priority: optional
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 8), libc6-dev(>= 2.11.1), libx11-dev (>= 2:1.3),
	mingw-w64, g++-mingw-w64, make (>= 3.81), g++ (>= 4:4.4), sed (>= 4.2.1), po-debconf

Package: pipelight-multi
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, libx11-6,
	g++-mingw-w64-i686, bash, mesa-utils, ttf-mscorefonts-installer, wget,
	zenity | kde-baseapps-bin, wine-compholio (>= 1.7.0-3), bash (>= 4.0)
Conflicts: pipelight (<< 0.2.0)
Replaces: pipelight (<< 0.2.0)
Description: allows usage of Windows NPAPI plugins through Wine
	Pipelight allows one to use NPAPI plugins inside a Linux browser
	with the help of Wine.

Package: pipelight
Architecture: amd64 i386
Depends: ${misc:Depends}, pipelight-multi
Description: allows usage of Silverlight through Wine
	Pipelight allows one to use Silverlight inside a Linux browser 
	with the help of Wine.
