#!/usr/bin/make -f
%:
		dh $@

override_dh_auto_configure:
	dh_auto_configure -- --win32-static --gcc-runtime-dlls=""

override_dh_auto_install:
		$(MAKE) DESTDIR=$$(pwd)/debian/pipelight-multi install
		mkdir -p $$(pwd)/debian/pipelight/usr/share/pipelight
		install -m 0644 "$$(pwd)/share/README-pipelight" "$$(pwd)/debian/pipelight/usr/share/pipelight"
